.estrelas {
    color: #FFD600;
}


.card-title,
.estrelas,
.card-text {
    margin-bottom: 0.5rem;
    /* Adjust the margin as needed */
}

.loginpage{
    background-image: url('images/fundos/simbolo.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 30%; /* Adjust the size of the background image */
    background-position: -150px -350px; /* Adjust the position to move the image off the screen */
    background-color: rgba(255, 255, 255, 0.224);  /* Sets a black background with 50% opacity */
}

