.estrelas {
    color: #FFD600;
}


.card-title,
.estrelas,
.card-text {
    margin-bottom: 0.5rem;
    /* Adjust the margin as needed */
}

.loginpage{
    background-image: url('images/fundos/logo.svg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 30%; /* Adjust the size of the background image */
    background-position: -150px -250px; /* Adjust the position to move the image off the screen */
}

.ecra {
    margin-top: 15%;
    margin-left: 15%;
    width: 20%;
    height: 300px; /* ou a altura desejada */
    border-radius: 10px; /* ou o raio desejado para os cantos arredondados */
    display: flex;
    justify-content: center;
    align-items: center;
}
