/* NAVBAR */
.navbar {
    background-color: #343a40;
}

.navbar .btn-outline-light {
    margin-left: auto;
}

/* ESPAÇO HEROI */
.heroi {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
}

.textoheroi {
    z-index: 1;
}

.procurar-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.procurar-container .form-control {
    margin-right: 10px;
    width: 300px;
}

.scroll-indicator {
    margin-top: 30px;
}

.scroll-indicator i {
    font-size: 2rem;
}

.scroll-indicator label {
    display: block;
    margin-top: 5px;
}

/* SOBRE WARE */
.sobre-ware {
    text-align: center;
    margin: 40px 0;
}

.sobre-ware img {
    width: 10%;
}

.sobre-ware-text p {
    font-size: 1.2rem;
    margin: 5px 0;
}

/* SEÇÃO OS MAIS VENDIDOS */
.section-title {
    text-align: center;
    margin: 40px 0;
}

/* CARROSSEL OS MAIS VENDIDOS */
.carousel-item .card {
    border: none;
}

.card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card .estrelas {
    color: gold;
    font-size: 1rem;
}

.card .card-text {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

/* LISTAGEM DE PRODUTOS */
.card {
    border: none;
}

.card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card .card-text {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.btn-dark {
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark:hover {
    background-color: #23272b;
    border-color: #1d2124;
}

/* FOOTER */
footer {
    background-color: #343a40;
    color: white;
    padding: 1rem 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
